

html{
    /* COLORS */
    --red: #C3423F;
    --softBlack: #1D2223;
    --softWhite: #E1E1E1;
    --white: #ECECEC;
    --black: #0E1214;
  
    /* FONT SIZES */
    --h1: 2em;
    --h1medio: 1.75em;
    --h2: 1.5em;
    --h3: 1.2em;
    --p1: 1.1em;
    --p2: .8em;
    --p3: .6em;
  }
  
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, article, aside, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  body {
    line-height: 1;
    position: relative;
    min-height: 94vh;
    padding-bottom: 40px;
    background: var(--softBlack);
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol,ul {
    list-style: none;
  }
  a, a:visited {
    text-decoration: none;
    outline: none;
    color: var(--softWhite);
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }